---
---

@import 'css/eight.css/eight.css';
@import 'https://fonts.googleapis.com/css?family=Rosario';

$breakpoint-xs-min: 320px;
$breakpoint-sm-min: 480px;
$breakpoint-md-min: 600px;
$breakpoint-lg-min: 980px;
$breakpoint-xl-min: 1200px;

$primary-color: #7db7ea;
$link-color: darken($primary-color, 30%);
$link-color-inverted: #fafafa;
$inverted-text-color: #f0f0f0;
$border-color-default: #c3c3c3;

$border-radius-default: .25rem;

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
a {
  font-family: 'Rosario', sans-serif;
}

strong {
  font-weight: 700;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color .2s ease;

  :hover {
    color: lighten($link-color, 30%);
  }
}

.site-header {
  background: $primary-color url('images/bg-header.jpg') no-repeat center center fixed;
  background-size: cover;
  color: $inverted-text-color;
  padding: 3rem 1.5rem;
  position: relative;
  text-align: center;

  a {
    color: $link-color-inverted;

    :hover {
      color: lighten($link-color-inverted, 30%);
    }
  }

  .site-profile-image {
    border-radius: 50%;
    height: 50vw;
    margin: 0 auto 2rem;
    max-height: 12rem;
    max-width: 12rem;
    overflow: hidden;
    position: relative;
    width: 50vw;

    img {
      margin: 0 auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  .site-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;

    @media (min-width: $breakpoint-sm-min) {
      font-size: 2rem;
      line-height: 2rem;
    }

    @media (min-width: $breakpoint-md-min) {
      font-size: 3rem;
      line-height: 3rem;
    }

    @media (min-width: $breakpoint-lg-min) {
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  .site-description {
    font-size: .8rem;
    line-height: .8rem;
    margin-top: .5rem;
    text-transform: uppercase;

    @media (min-width: $breakpoint-sm-min) {
      font-size: 1rem;
      line-height: 1rem;
    }

    @media (min-width: $breakpoint-md-min) {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }

    @media (min-width: $breakpoint-lg-min) {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }

  .site-nav {
    margin-top: 2rem;

    .page-link {
      background-color: transparent;
    }
  }
}

.page-content {
  padding: 3rem 1.5rem;
}

.post-title {
  margin-bottom: 2rem;
}

.portfolio {
  .col {
    display: block;
  }

  .project-summary {
    background: transparent no-repeat center center;
    background-size: cover;
    border: 1px solid $border-color-default;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;

    .project-feature-image {
      height: 100%;
      margin: 0 auto;
      position: absolute;
    }
  }
}

.site-footer {
  color: $border-color-default;
  padding: 2rem 0;
  text-align: center;
}

@media (min-width: $breakpoint-sm-min) {
  .xs {
    display: none;
  }
}
